{% load static %}
<html>


<title>Regestration</title>
<head>
   
    <script src="{% static 'js/regscript.js'%}"></script>
    <script src = "{%static 'js/otpverify.js'%}"></script>
</head>
<style>
    .reg-detail{
        background-color: white;
    }
    .reg-form{
        padding-left: 10%;
    }
    
    
</style>  

<body>
    <div class="reg-detail">
        <form class = "reg-form" method="get" class="regestration">
            <label>Name:</label>
            <input id = "reg_name" type="text" placeholder="Enter Username"/>
            <br>
            <br>
            <label>Phone:</label>
            
            <input id = "reg_phone" type="text" maxlength ="10"   placeholder="Enter Phone number"/>
            <br>
            <br>
            <label>E-mail</label>
            <input id = "reg_email_id" type="email" placeholder="Enter valid Email"/>
            <br>
            <br>
            <label>Password</label>
            <input id = "reg_pass" type="password" placeholder="Enter Password"/>
            <br>
            <br>
            <label>Renter Password</label>
            <input id = "reg_repass" type="password" placeholder="Enter Confirm Password"/>
            <br>
            <br>
            <label>OTP:</label>
            <select id="OTP-option">
                <option disabled selected value="">select Option</option>
                <option value = "Phone">Phone</option> 
                <option value ="Email">Email</option>
            </select>
            <button onclick="return OTP_verify()">Send</button>
            <br>
            <br>
            <label>Enter OTP:</label>
            <input id = "reg_otp" type="text" placeholder="Enter OTP"/>
            <br>
            <br>
            <label>Profile Photo:</label>
            <input type="file"/>
            <br>
            <br>
            <input type="submit" value="Sign Up" onclick= "return regfunc()"/>
            <br>
            
            
            

            




        </form>
     </div>   
</body>
</html>
